.gradle/
build/
bin/
out/
.idea/
.txt
# Ignored, as Gradle Buildship generates it on import / refresh
.classpath
.pdf

### Eclipse ###
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings
.loadpath
.recommenders

#Compiled Class files
*.class

#Log Files
*.log
